
@import url("https://use.typekit.net/uol6kam.css");

$font-family-sans-serif: "anonymous-pro", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:      "baskerville-urw", Georgia, "Times New Roman", Times, serif !default;

$headings-font-family: $font-family-serif;

