$white:      #ffffff !default;
$light:      #d8cfc6 !default;
$dark:       #2c3646 !default;
$primary:    #b42e34 !default;
$secondary:  #86797a !default;
$info:       #e1a219 !default;
$success:    #62ac0a !default;
$warning:    #ffc274 !default;
$danger:     #f50468 !default;

// scss-docs-start theme-colors-map
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
) !default;
// scss-docs-end theme-colors-map

/*
font-family: "sutro-black-initials", serif;
font-weight: 400;
font-style: normal;

font-family: "anonymous-pro", monospace;
font-weight: 700;
font-style: normal;

font-family: "Oswald", Helvetica, Arial, sans-serif!important;
 */

.garbage {
    color: $primary;
}

